---
---

@import "hocus-pocus/hocus-pocus";

$font-leading: 1.4;
$font-size-base: 18;

$font-family-base: 'Roboto', sans-serif;

$rwd-type: desktop-first;

#mc_embed_signup {
  input.mce_inline_error {
    border-color: $color-negative !important;
  }
}
