---
---

@import 'hocus-pocus/scss/colors';

$font-leading: 1.4;
$font-size-base: 18;
$font-family-base: 'Roboto', sans-serif;
$font-weight-headings: 400;
$rwd-type: desktop-first;
$rwd-map: (
  'mobile': 620px,
  'tablet': 1080px
);

$hero-img: '/img/bg-hero.jpg';
$hero-size: 80;
$grid-container: 85vw;
$color-btn: $color-blue;

@import 'hocus-pocus/hocus-pocus';

.hero-strip {
  width: 100%;
  padding-top: double($spacing-unit);
  padding-bottom: double($spacing-unit);
  background-color: rgba($color-white, .8);
}

.img-strip {
  height: 50vh;
  background-position: 100% 70%;
  background-size: cover;
  background-attachment: scroll;
}

.img-strip-nyc {
  background-image: url('/img/img-nyc.jpg');
}

.img-strip-cairo {
  background-image: url('/img/img-cairo.jpg');
}

.img-strip-bejing {
  background-image: url('/img/img-bejing.jpg');
}

.box-subscription {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  background-color: $color-black;
  color: $color-white;
  text-align: center;
}

.form-subscription {
  width: 100%;

  [type=email] {
    margin-right: halve($spacing-unit);
    margin-left: halve($spacing-unit);
    padding-top: halve($spacing-unit);
    padding-bottom: halve($spacing-unit);
    color: $color-black;
  }

  [type=submit] {
    padding: halve($spacing-unit) $spacing-unit;
  }

  a {
    color: lighten($color-blue, 30%);
  }
}

@include rwd('tablet') {
  .container {
    max-width: 95vw;
  }

  .hero {
    height: 75vh;
  }

  .img-strip {
    height: 40vh;
  }

  .box-subscription {
    height: 25vh;
  }
}

@include rwd('mobile') {
  h1 {
    @include font-size(36);
    margin-top: 0;
    margin-bottom: 0;
  }

  h2 {
    @include font-size(32);
    text-align: center;
  }

  .hero {
    height: 55vh;
  }

  .hero-strip {
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
  }

  .box-subscription {
    @include font-size(15);
    height: 45vh;
  }
}

#mc_embed_signup {
  input.mce_inline_error {
    border-color: $color-negative !important;
  }
}
