---
layout: default
---

<div class="wrapper-primary">
  <div class="container">
    <div class="cell">
      <div class="text-center">
        <img class="mobile-appicon" src="/img/icn-app.png" srcset="/img/icn-app@2x.png 2x" alt="App's Icon">
      </div>

      <div class="media media-middle margin-bottom tablet-no-margin-bottom mobile-no-margin-bottom">
        <img class="appicon" src="/img/icn-app.png" srcset="/img/icn-app@2x.png 2x" alt="App's Icon">

        <div class="media-body">
          <h1 class="no-margin-ends">
            Don't miss interesting spots
          </h1>

          <h2 class="no-margin-ends h4 text-normal text-subheading">
            The only app focused on solo traveling
          </h2>
        </div>
      </div>

      <p class="text-lead padding-top margin-double-bottom mobile-margin-bottom">
        Feeling lost and completely independent in a new city is great. Our
        application uses geolocation to play you recorded messages via your
        earbuds when you are close to an interesting object, spot or location.
      </p>

      {% include form.html %}

      <p class="text-small margin-top no-margin-bottom">
        To keep you up to date once for a while you'll
        <a class="text-positive" href="/newsletter">receive a comic</a>.
        <br>
        All invite list subscribers get 50% discount for the app.
      </p>
    </div>

    <img class="img-iphone mobile-hidden" src="/img/img-iphone.png" srcset="/img/img-iphone@2x.png 2x" alt="Home Screen Screenshot">
  </div>
</div>

<div class="wrapper-secondary">
  <div class="container text-center">
    <h2 class="no-margin-top margin-bottom padding-triple-top mobile-padding-double-top">
      Discover and dive into new places
    </h2>

    <p class="horizontal-center mobile-1/1 1/2 margin-double-bottom">
      Using Echotags, you will get tailor-made information just for you,
      exactly when it is useful. You can download handmade sets, prepared by
      locals, in advance and use them during your travels. Put headphones on,
      hide your phone in a pocket and enjoy the trip.
    </p>

    <ul class="list-inline padding-double-bottom">
      <li class="hidden mobile-visible mobile-no-padding mobile-margin-bottom">
        <img class="img-responsive" src="/img/img-home.png" srcset="/img/img-home@2x.png 2x" alt="Home Screen">
      </li>
      <li class="mobile-no-padding mobile-margin-bottom">
        <img class="img-responsive" src="/img/img-discover.png" srcset="/img/img-discover@2x.png 2x" alt="Discover Screen">
      </li>
      <li class="mobile-no-padding mobile-margin-bottom">
        <img class="img-responsive" src="/img/img-list.png" srcset="/img/img-list@2x.png 2x" alt="List Screen">
      </li>
      <li class="mobile-no-padding mobile-margin-bottom tablet-margin-top">
        <img class="img-responsive" src="/img/img-listen.png" srcset="/img/img-listen@2x.png 2x" alt="Listen Screen">
      </li>
    </ul>
  </div>
</div>

<div class="wrapper-form">
  <div class="container padding-ends text-center mobile-1/1 tablet-3/4 1/2">
    {% include form.html %}
  </div>
</div>

<div class="container">
  <h2 class="margin-double-top text-center">
    We are travelers too
  </h2>

  <div class="blockquotes horizontal-center mobile-1/1 4/5 margin-double-bottom">
    <div class="text-right">
      <img class="margin-double-right" src="/img/img-mac.png" srcset="/img/img-mac@2x.png 2x" alt="Mac's Avatar">
    </div>

    <blockquote>
      <p>
        Last year I decided to go for a summer holiday with my brother to Rome in
        Italy. We wanted to visit a city and feel not like tourists but rather
        like locals who wanted to experience everyday life there. But of course,
        we also wanted to see few of landmarks, enchanting places, locations that
        we will remember. There was one problem. We hate guidebooks and planning
        holidays. We decided to do something with it.
      </p>
    </blockquote>

    <img class="margin-double-left" src="/img/img-bart.png" srcset="/img/img-bart@2x.png 2x" alt="Bartek's Avatar">
    <blockquote>
      <p>
        We came up with something that we called Echotags. We are builiding a service
        that helps people who like to travel. Something where anybody can record
        their own geo-localised audio files with a description of the place.
        Anybody can listen to those files once approaches their geo-coordinates.
        The trick is to do it completely hands-free. Your phone will be all time
        in your pocket.
      </p>
    </blockquote>
  </div>

  <div class="text-center">
    <p class="margin-double-bottom">
      Do you have any questions? Feel free to contact us on
      <a href="mailto:hello@echotags.io">hello@echotags.io</a>
    </p>

    <ul class="list-inline margin-double-bottom">
      <li>
        <a class="btn btn-twitter btn-outline btn-social" href="https://twitter.com/echotags">
          Follow on Twitter
        </a>
      </li>

      <li>
        <a class="btn btn-facebook btn-outline btn-social" href="https://www.facebook.com/echotagsapp">
          Follow on Facebook
        </a>
      </li>

      <li>
        <a class="btn btn-instagram btn-outline btn-social" href="https://www.instagram.com/echotags">
          Follow on Instagram
        </a>
      </li>
    </ul>

    <p class="text-small text-muted margin-double-bottom">
      Bartłomiej &amp; Maciej
    </p>
  </div>
</div>
