---
layout: default
---

<div class="hero">
  <img src="/img/img-logo.svg" alt="Logo">
  <h1>Discover new favorite places hands-free</h1>
</div>

<div class="margin-double-bottom">
  {% include form.html %}
</div>

<div class="container margin-double-bottom">
  <div class="grid grid-middle">
    <div class="grid-item 1/2">
      <h2 class="no-margin-top">An innovative way to travel</h2>
      <p>
        Feeling lost and completely independent in a new city is great. Using
        Echotags, you will get tailor-made information just for you, exactly
        when it is useful. Our application uses geolocation to play you recorded
        messages via your earbuds when you are close to an interesting object,
        spot or location. You can download handmade sets, prepared by humans,
        in advance and then use them during your trip. Everything takes place
        offline, so you don't need to worry about your data plan.
      </p>

      <ul class="list-inline">
        <li>
          <span class="fa-stack fa-lg">
            <a href="https://twitter.com/echotags">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </a>
          </span>
        </li>

        <li>
          <span class="fa-stack fa-lg">
            <a href="https://facebook.com/echotagsapp">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </a>
          </span>
        </li>

        <li>
          <span class="fa-stack fa-lg">
            <a href="mailto:hello@echotags.io">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-inbox fa-stack-1x fa-inverse"></i>
            </a>
          </span>
        </li>
      </ul>
    </div>

    <div class="grid-item 1/2 text-center">
      <img class="img-responsive" src="/img/img-echotags.jpg" alt="echotags">
    </div>
  </div>
</div>

<img class="img-responsive margin-double-bottom" src="/img/img-nyc.jpg" alt="New York City Image">

<div class="container margin-double-bottom">
  <div class="grid grid-middle">
    <div class="grid-item 1/2 text-center">
      <img class="img-responsive" src="/img/img-iphone.png" alt="Phone Mockup">
    </div>
    <div class="grid-item 1/2">
      <h2 class="no-margin-top">Share tidbits about your favorite spots</h2>
      <p>
        Echotags is not only about new places. Rediscover your surroundings
        using the experiences of different people. You can play, save, record,
        and share your audio tags with the whole world. Possibilities are almost
        unlimited. Guidebooks, recommendations, voice journals, city exploring
        games, re-emerging trips or leaving a message on the spot are just
        a few examples. You can make them private, share with others for free
        or sell them.
      </p>
    </div>
  </div>
</div>

{% include form.html %}

<img class="img-responsive margin-double-bottom" src="/img/img-cairo.jpg" alt="Cairo Image">

<div class="container margin-double-bottom">
  <h2 class="no-margin-top">Why are we doing this?</h2>
  <p>
    Traveling is one of the most exciting human activities. We are travelers
    too. We love to enjoy new places, explore cities, checking out where
    the best food is or the most beautiful landmarks are. But there is one
    major drawback which we personally hate; once you go to a new spot,
    you usually buy a guidebook, check the Internet in advance or go to
    a tourist information center. The problem is that you then have to
    carry all those unhandy guidebooks. When you need them the most,
    they are always inside a bag or a rucksack. Constantly checking out phones
    or tablets is not a super convenient option either. You would just like to
    experience new places, without any disturbances, wouldn't you?
  </p>

  <p>
    We make Echotags to deliver you audio insights, created by other
    passionate people, which you can listen to during your trips. You can
    freely choose topics that are interesting for you, and start enjoying
    new places, hands-free, in a completely new way.
  </p>

  <p class="text-right text-muted">
    - Bartłomiej &amp; Maciej
  </p>
</div>

{% include form.html %}

<img class="img-responsive" src="/img/img-bejing.jpg" alt="Bejing Image">
