<div class="box box-subscription">
  <form class="form-stacked form-subscription" accept-charset="UTF-8"
    action="https://formkeep.com/f/573fedf79fcb" method="POST">

    <label class="margin-bottom" for="email">
      We are still building the app. Enter your email and we put you
      on the invite list:
    </label>

    <div class="grid grid-center margin-bottom">
      <input type="hidden" name="utf8" value="✓">
      <input class="grid-item inline mobile-1/1"
        type="email" placeholder="i.e. mac@example.com" id="email"
        name="email" required>
      <input class="grid-item inline mobile-1/1 mobile-margin-half"
        type="submit" value="Get Early Access">
    </div>

    <p class="no-margin-bottom">
      To keep you up to date once for a while
      <a href="/newsletter">you'll get a comic like this</a>.
    </p>
  </form>
</div>
