.box-subscription {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  padding-top: halve($spacing-unit);
  padding-bottom: halve($spacing-unit);
  background-color: $color-black;
  color: $color-white;
  text-align: center;
}

.form-subscription {
  width: 100%;

  [type=email] {
    margin-right: halve($spacing-unit);
    margin-left: halve($spacing-unit);
    padding-top: halve($spacing-unit);
    padding-bottom: halve($spacing-unit);
  }

  [type=submit] {
    padding: halve($spacing-unit) $spacing-unit;
  }
}

@include rwd('tablet') {
  .container {
    max-width: 95vw;
  }

  .hero {
    height: 75vh;
  }

  .box-subscription {
    height: 25vh;
  }
}

@include rwd('mobile') {
  h1 {
    @include font-size(42);
  }

  h2 {
    @include font-size(32);
    text-align: center;
  }

  .hero {
    height: 60vh;
  }

  .box-subscription {
    height: 40vh;
  }
}
